{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}


<div class="container">
    <h1>Home Page</h1>
</div>

<!-- this flash message is displayed after user click on verified email-link  --> 
{% for message in app.flashes('isVerified') %}
    <div class="container text-center alert alert-success">
        {{ message }}
    </div>
{% endfor %}


<!-- app.js is in assets/js/app.js  --> 
<!-- Api load content is positioned inside this div Id --> 
<div class="container">  
    <div class="card-group" id="mydiv"></div>
</div>
<!-- comment or delete this to no longer see the Js API result -->    

{% endblock %}
