{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<!-- this flash message is displayed after user click on verified email-link  --> 
{% for message in app.flashes('isVerified') %}
    <div class="container text-center alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<!-- user icons related to Jquery toggle display and class -->
<div class="container">
    <p>Hide Slider<p>
    <a class="" href="#" id="sliderToggle">
        <i class="bi bi-toggle-on" id="sliderSwitchButton"></i>
    </a>
</div>

<!-- include slider fragment template  --> 
{% include 'fragments/_slider.html.twig' %}

<div class="container">
    <h5>Ex Js Api Fetch in -> front/home.html.twig</h5>
</div>

<!-- app.js is in assets/js/app.js  --> 
<!-- Api load content is positioned inside this div Id --> 
<div class="container">  
    <div class="card-group" id="mydiv"></div>
</div>
<!-- comment or delete this to no longer see the Js API Exemple -->    

{% endblock %}
